body {
    background-color: lightblue;
    font-family: 'montserrat', sans-serif;
    
}

h1 {
    font-weight: bold;
    font-size: 24px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 0;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

#footer-text {
    font-size: 9px;
    text-align: right;
    color: white
}

a {
    color:white;
}

img {
    border: royalblue;
}

.navtitle {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.navhead {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;

}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;
    
}

.card-img-top {
    width: 100%;
    height: 30vw;
    }
.card-title {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.jsc {
    font-size: 20px;
    text-align: center;
    }